.container {
    font-family: 'Visby CF Medium';
    margin-top: 40px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

img.img-fluid.Form-ava{
    min-width: 40%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

button#registrar.btn.btn-primar{
  width: 48%;
    margin-top: 7%;
    margin-left: 7%;
    border-color: rgba(194, 104, 19, 0.822);
    color: rgba(194, 104, 19, 0.822);

}
.h1{
  margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-left: 11%;
}