.Badge {
  background:#FDCB6E;
  border-radius: 8px 8px 8px 8px;
  overflow: hidden;
  height: 380px;
}

.Badge__header {
  padding: 0.5rem 0;
  height: 80px;
  background: #FDCB6E;
  display: flex;
  justify-content: center;
  
}
.PostAv{
  width: 70px;
  
}

.Badges__section-name {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  
}

.Badge__section-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
  background: #F4F4F7;
}


.Badge__avatar {
  border-radius: 50%;
  margin-right: 1rem;
  width: 120px;
  height: 120px;
}

.Badge__footer {
  height: 54px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #98CA3F;
  font-weight: bold;
  font-style: italic;
  
}