
.Badge__header {
  padding: 0.5rem 0;
  height: 80px;
  background: #FDCB6E;
  display: flex;
  justify-content: center;
}

.PostAv{
  width: 70px;
}

.Badges__section-name {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.Badge__section-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
  margin-top: 90px;
}

.Badge__avatar {
   margin-right: 1rem;
   width: 300px;
   height: 420px;
}

.Badge__footer {
  font-family: 'Visby CF Medium';
  font-weight: bold;
  height: 54px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #2F3543;
  margin-top: 40px;
}

@media all and (max-width: 480px) {
  .Badge__avatar {
    margin-right: 1rem;
    width: 200px;
    height: 280px;
 }

 .Badge__footer {
  font-family: 'Visby CF Medium';
  font-weight: bold;
  color: #2F3543;
  font-size: 20px;
}
}