@media (min-width:200px) and (max-width:800px){
    .containerPer{
      display: inline-grid;
      margin-left: 17%;
      background-color: rgba(238, 244, 247, 0.473);
      margin-top:10%;
      width:68%;
    }
    .logoEmail{
      margin-left: 11%
    }
    .h5{
      color: rgba(10, 98, 180, 0.712);
      text-align: center;
      margin-top: 12%;
      margin-left: 3%;
    }
    .contInput {
      margin-top:9%;
    }
    
    .input {
      width: 71%;
      text-align: center;   
      background-color:rgba(194, 104, 19, 0.822);   
      color: white;
      margin-left: 13%;
      margin-top:1%;
    }
    #registrar{
      width: 48%;
      margin-top: 7%;
      margin-left: 23%;
      border-color: rgba(194, 104, 19, 0.822);
      color: rgba(194, 104, 19, 0.822);
    }
  }