.container2{
  font-family: 'Visby CF Medium';
  margin-top: 40px;
  width: 300px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
input.form-control.input{
  display: block;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}

.logoE{
  margin-left: 30%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.h5{
  text-align: center;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  margin-left: 15%;
}