.navbar {
  width: 100%;
  background-color:#FDCA6E;
}

li.nav-item{
  list-style: none;
}

.Lin-Home {
  display: flex;
}


div.container-fluid{
  display: flex;
  color: rgb(7, 6, 6);
  align-items: center;
}

a.nav-link{
  font-family: 'Visby CF Medium';
  font-size: 20px;
  color: #2F3543;
  display: flex;
  align-items: center;
  margin-top: 20px;
  list-style: none;
}

.nav-link{
  padding: .1rem 10rem;
}
.footer{
  height: 100vh;
  position: fixed;
  clear: both;
  margin-top: 50px;
  padding-top: 0px;

}

